@import 'tailwindcss';

/** A) Let's try custom light-dark mode: Without tailwind class support  */

/* --- Light Mode (default) --- */
body {
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

/* --- Dark Mode --- */
body.dark-mode {
  background-color: #111827;
  color: white;
}

/* Similarly, for other sections we can use the same pattern */
.hero {
  background: orange;
}

body.dark-mode .hero {
  background: gray;
}
